name: Simple theme release

on:
  pull_request:
    types: [closed]
    branches: [ main ]

permissions:
  contents: write

env:
  THEME_NAME: action-labs-theme
  DEPLOY_TAG: "1.0.0"

jobs:
  release-build:
    if: ${{ github.event.pull_request.merged == true }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: main

      - name: Prepare theme folder
        run: |
          rm -rf build dist
          mkdir -p dist
          mkdir -p build/${{ env.THEME_NAME }}
          rsync -av --exclude='.git' --exclude='node_modules' --exclude='dist' --exclude='build' . build/${{ env.THEME_NAME }}
          find ./build -type f -exec chmod 0644 {} +
          find ./build -type d -exec chmod 0755 {} +

      - name: Archive Release
        run: |
          cd build
          zip -r "../dist/${{ env.THEME_NAME }}.zip" "${{ env.THEME_NAME }}"

      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          custom_tag: ${{ env.DEPLOY_TAG }}

      - name: Generate new Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/${{ env.THEME_NAME }}.zip"
          token: ${{ secrets.GITHUB_TOKEN }}
          commit: "release"
          draft: true
          tag: ${{ steps.tag_version.outputs.new_tag }}
          name: Release ${{ steps.tag_version.outputs.new_tag }}